/*.checkout-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}*/
.mandatory{
    color:red
}
.checkout-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--mauve-bright);
}
.checkout-summary {
    text-align: center;
    margin-top: 20px;
}

.location-label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.lcoation-Container {
    display: flex;
    justify-content:center;
    align-items: center;
    /*margin-bottom: 20px;*/
    gap: 10px;
}

.Location-Bar {
    padding: 5px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #ccc;
    width: 250px;
}

    .Location-Bar:focus {
        border: 2px solid var(--button-color);
    }

.checkout-button:disabled{
    background:gray;
    cursor: not-allowed
    }
.checkout-button:disabled:hover {
    font-weight:500;
}
/*
.cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.cart-item {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--mauve-light);
    border-radius: 8px;
    background-color: var(--table-rows);
}

.cart-item-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.cart-item-info {
    flex-grow: 1;
}


.checkout-button {
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .checkout-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    .checkout-button:hover:not(:disabled) {
        background-color: var(--button-onHover);
    }
*/