:root {
    --mauve-light: #6A679E;
    --mauve-bright: #5D54A4;
    --button-color: #573b8a;
    --button-onHover: #6d44b8;
    --font: 'Jost', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.view-Container {
    font: var(--font);
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.cr-f-container {
    margin-top: 5px;
    border: 1px solid var(--mauve-bright);
    border-radius: 4px;
    margin-bottom: 20px;
}

.cr-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px; /* Adds spacing between items if needed */
}
    .cr-form-container div {
        flex-basis: 500px;
        flex-grow: 1;
        margin-bottom: 10px;
        display: flex; /* Ensures label and input are side by side */
        align-items: center; /* Vertically centers the label and input */
    }

.cr-form-container input {
    margin: 0;
    width: 80%;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 4px;
    padding: 10px;
}

.cr-form-container label {
    color: var(--mauve-bright);
    width: 100px;
    display: inline-block; /* Allows width to take effect */
    text-align: center;
    margin-right: 10px; /* Adds spacing between the label and input */
}

    .cr-form-container input:focus {
        border: 2px solid;
        border-color: var(--button-color);
        outline: none
    }


.cr-save {
    margin: 5px;
    width: 130px;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    color: white;
    background: var(--mauve-bright);
    outline: none;
}

    .cr-save:hover {
        background: var(--button-onHover);
        font-weight: 700;
    }
#theme-color{
    padding: 0px;
    width: 150px;
}


#strong:focus {
    border: 2px solid green;
}

#medium:focus {
    border: 2px solid orange;
}

#weak:focus {
    border: 2px solid red;
}

#short:focus {
    border: 2px solid red;
}