:root {
    --mauve-light: #6A679E;
    --mauve-bright: #5D54A4;
    --button-color: #573b8a;
    --button-onHover: #6d44b8;
    --font: 'Jost', sans-serif;
    --table-header-words: black;
    --table-rows: hsl(243, 22%, 81%);
    --table-rows-hover: #9D9BC4;
    --navbar-color-hover: white;
    --navbar-color: black;
    --navbar-hover-active: hsl(243, 52%, 61%);
}
body{
    place-items:start !important
}
/* Styling for the main container of the Navbar */
.Navbar-Container {
    font: var(--font);
    width: 100vw;
    position: sticky;
    height: 50px;
    background-color: var(--button-color)
}

    .Navbar-Container ul, .Navbar-Container button {
        height: 50px;
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
        
}

    .Navbar-Container li, .Navbar-Container button {
        height: 50px;
        list-style: none; 
    }


    .Navbar-Container a, .Navbar-Container button {
        display: block;
        text-align: center;
        padding-top: 10px;
        padding-right: 2px;
        padding-left: 2px;
        height: 50px;
        text-decoration: none;
        color: var(--navbar-color);
    }

        .Navbar-Container a:hover {
            text-decoration: none;
            color: var(--navbar-color-hover);
            background-color: var(--button-onHover);
        }
        .Navbar-Container a.active {
            text-decoration: none;
            color: var(--navbar-color-hover);
            background-color: var(--button-onHover);
            font-size: 1.2em;
        }
.logout {
    width:auto;
    border-radius:0px;
    background-color: var(--mauve-bright);
}
    .logout:hover {
        color: var(--navbar-color-hover);
        background-color: var(--navbar-hover-active);
        font-size: 1.2em;
    }