.increment {
    padding: 0px;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    color: var(--mauve-bright);
    background: white;
    outline: none;
    border: 1px solid var(--mauve-bright);
    margin-right: 10px;
    margin-left: 10px;
}
    .increment:hover {
    font-weight: 700;
}